* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav {
  margin-right: 20px;
}
.nav li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.75rem;
  margin-top: 1.25rem;
}
#nav1 {
  height: 20px;
  opacity: 0.5;
}
#nav2 {
  height: 33px;
}
.nav li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.3rem;
  line-height: 2.4rem;
}
